nav .navbar-nav li a{
    color: white !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 15px;
  
}
nav .navbar-nav li a:hover{
    background: hotpink;
    transition: ease-in-out 1s ;
    border-radius: 10px;

}
/* body{
    background-image: url("login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */